
<div class="bg-amber-100">
	<main>
		<section>
			<h1>
				To get started, open the
				<code>
					<pre>src/pages</pre>
				</code>
				directory in your project.
			</h1>
		</section>
	</main>
</div>
